@page
@model TaskManager.Webapp.Pages.DeleteModel

@{
  ViewData["Title"] = "Delete a Task";
}

<p>DANISMAN Atilla Nedim, Praktische Arbeit 2023/24 mehr dazu <a asp-page="addTask">hier klicken</a></p>
